<h1>Today Someone Figured Out How To...</h1>

<% @achievements.each do |achievement| %>
  <ul>
    <li>
      <%= achievement.task %>
      <%= form_for @vote, :url => {method: :put, action: :update, controller: :votes} do |f| %>
        <%= f.select(:count,
          [['Ooh, teach me how to do that!', 1, {count: 2}],
            ['I can already do that.', 2, {count: -1}],
            ['No, thanks. Not interested.', 3, {count: 0}]]) %>
        <%= f.submit 'Submit' %>
      <%end%>
    </li>
  </ul>
<% end %>

<%= link_to 'Today I Figured Out How To', new_achievement_path%>

<h3>We Want to Learn How To...</h3>
