<h1>Today Someone Figured Out How To...</h1>

<ul>
  <% @achievements.each do |achievement| %>
    <li>
      <%= achievement.task %>
      <%= form_for @vote do |f| %>
        <%= f.select(:weighting,
          [['Ooh, teach me how to do that!', 2],
            ['Oh, please, I can already do that.', -1],
            ['No, thanks. Not interested.', 0]]) %>
         <%= f.hidden_field :achievement_id, :value => achievement.id %>
        <%= f.submit 'Submit' %>
      <%end%>
    </li>
  <% end %>
</ul>


<%= link_to 'Today I Figured Out How To', new_achievement_path%>

<h3>We Want to Learn How To...</h3>
<ul>
  <% @top_achievements.each do |achievement| %>
    <li>
      <%= achievement['task'] %>
    </li>
  <% end %>
</ul>


